# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [2]:
(lambda num1, num2: num1 + num2)(5,6)

def add_two_nums(num1,num2):
    return num1 + num2

#### Saving to a Variable

In [4]:
square_num = lambda num: num**2


adder = lambda num1, num2: num1 + num2

adder(10,11)

adder(20,30)

square_num(10)

100

#### Multiple Inputs

In [6]:
#see above

(lambda num1, num2, num3: num1 +num2 +num3)(1,2,3)

def add_three_num(num1,num2,num3):
    return num1 + num2 + num3

#### Passing a Lambda into a Function

In [11]:
def math_operation(f, num):
    return f(num)

math_operation(lambda lambda_num: lambda_num * 2 , 5)

math_operation(lambda lambda_num: lambda_num / 10,100)

math_operation(lambda lambda_num: lambda_num - 50, 50)

0

#### Returning a Lambda from a Function

In [19]:
local_var = 100

def outter_function():
    local_var = 10

    def inner(num):
        inner_var = 11
        print(local_var)
        return num + local_var
    
    return inner

outter_function()(50)


def outter_function2(num1,num2):
    return lambda num3: (num1 + num2) * num3

multiply_twenty_one = outter_function2(10,11)

multiply_twenty_one(2)

multiply_twenty_one(10)

multiply_201 = outter_function2(100,101)

multiply_201(2)

10

402

#### If Statements within Lambdas

In [21]:
(lambda num: num - 10 if num > 10 else num + 10)(20)

add_or_substract_10 = lambda num: num - 10 if num > 10 else num + 10

add_or_substract_10(5)

capital_vowells = lambda word: word.capitalize() if word [0]in 'aeiou' else word.lower()

capital_vowells('adam')
capital_vowells('Brandon')

'brandon'

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [28]:
list(map(lambda num: num**2, [1,2,3,4,5]))


#quared_map_object = map(lambda num: num**2, [1,2,3,4,5]):

#for square_num in squared_map_object:
 #   print(squared_num)

#list(squared_map_object)
[letter for letter in map(lambda letter: letter.upper(),'abcd')]

def add_ten(num):
    return num + 10

list(map(add_ten, (11,12,13,5)))

[21, 22, 23, 15]

#### Using Lambda's with Map

In [29]:
#see above

[letter for letter in map(lambda letter: letter.upper() if letter.lower() in 'aeiou' else letter, 'foobar')]

['f', 'O', 'O', 'b', 'A', 'r']

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [36]:
#map(lambda num: num**2, (num) - 1())

t = map(lambda num: num**2, - 1)

TypeError: 'int' object is not iterable

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [44]:
#filter(<func>, iterable) => filter_object

def filter_vowel(letter):
    return letter.lower() not in 'aeiou'

    #if letter in 'aeiou':
    #    return False
    #else:
    #    return True

list(filter(filter_vowel, 'abcdeiouAEIOU'))

['b', 'c', 'd']

#### Using Lambda's with Filter()

In [107]:
[letter for letter in filter(lambda letter: letter.lower() not in {'a','e','i','o','u'},'foobar')]

' '.join(filter(lambda student: student[0] not in 'Tt', ['tom','josh','Tim','lyla','toby']))

'josh lyla'

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [66]:


[color for color in filter(lambda color: color not in {0,1,2,3,4}, ('re3d', 'g2reen', 'blu4e', 'yell0ow', 'hotp1ink'))]

' '. join(filter(lambda color: color[0]  not in '0,1,2,3,4', ['re3d', 'g2reen', 'blu4e', 'yell0ow', 'hotp1ink']))

're3d g2reen blu4e yell0ow hotp1ink'

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [73]:

from functools import reduce

#fuctoolss.reduce(<func>, collection)

def fuction(acc, num):
    return acc + num

reduce(adder, [1,2,3,4])

matrix_word = ['matrix', 'week', '3', 'Python', 'count']

def our_join(acc, word):
    return acc + ' ' + word


reduce(our_join, ['matrix', 'week', '3', 'Python', 'count'])

'matrix week 3 Python count'

#### Using Lambda's with Reduce()

In [74]:
reduce(lambda acc, num: acc + num, [10,10,50,50])


reduce(lambda acc, word: f'{acc} {word}', matrix_word)

'matrix week 3 Python count'

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [80]:
#[10,5,6,8]
reduce(lambda acc, num: acc * num, [10,5,6,8])

2400

In [145]:
fav_movie = ('lyla': 'top gun',
             'josh': 'the last samurai'
             'mabel': 'fifth element'
             'tom': 'big lebowski'
             'raul': 'the dark knight'
             'tim': 'pearl harbor'
             'malid': 'gladiator'
             'dylan': 'the joker'
             'porter': 'underwater')


reduce(lambda acc, k: f'{acc} {k}\'s fav movie is {fav_movie[k]}', fav_movie)
       
       
# if acc != 'lyla' else f'{k}\'s fav movie is {fav_movie[k]}', fav_movie)

SyntaxError: invalid syntax (882807992.py, line 1)

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [93]:
def recursive_add(num):
    if num > 0:
        print('recursive_add{num}) - recursive_add({num - 1}) + {num}')
        return recursive_add(num - 1) + num
    else:
        print(f'recursive_add(num) - num')
        return num
    
recursive_add(10)

#recursive_add(5) = 5 + recursive_add(4)
#recursive_add(4) = 4 + recursive_add(3)
#recursive_add(3) = 3 + recursive_add(3)
#recursive_add(2) = 2 + recursive_add(2)
#recursive_add(1) = 1 + recursive_add(1)
#recursive_add(0) = 0 + recursive_add(0)

recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add{num}) - recursive_add({num - 1}) + {num}
recursive_add(num) - num

55

#### Writing a Factorial Function

In [96]:
def find_factorial(num):
    if num ==1:
        return 1
    
    print(f'find_factorial({num}) = find_factorial({num-1}) + {num}')

    return find_factorial(num-1) * num

find_factorial(5)

find_factorial(5) = find_factorial(4) + 5
find_factorial(4) = find_factorial(3) + 4
find_factorial(3) = find_factorial(2) + 3
find_factorial(2) = find_factorial(1) + 2

120

In [97]:
find_factorial(5) = 1*5
find_factorial(4) = 1*4
find_factorial(3) = 1*3
find_factorial(2) = 1*2
find_factorial(1) = 1

SyntaxError: cannot assign to function call (3413175806.py, line 1)

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [102]:
def rec(num):
    if num > 0:
        return num - rec(num-1)
    
    else:
        return num
rec(6)

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [103]:
def matrix_generator():
    yield 'malid'
    yield 'tom'
    yield 'heather'

generator_obj = matrix_generator()

for student in generator_obj:
    print(student)

generator_obj2 = matrix_generator()


next(generator_obj2)
next(generator_obj2)
next(generator_obj2)

malid
tom
heather

'heather'

In [106]:
def my_range(stop, start=0, step=1):
    while start <stop:
        yield start
        start += step


for num in my_range(20):
    print(num)

range_five = my_range(5)

print(next(range_five))
print(next(range_five))
print(next(range_five))
print(next(range_five))


print('start loop')
for num in range_five:

    print (num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
start loop
4

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [175]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

filter_places = list(filter(lambda str:True if str not in ("  ") else False, places))
print(filter_places)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [173]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

#lambda
#in alph order  but not case sensetive


author.sort(key = lambda last_name: last_name.split(" ")[-1].lower())

print(author)
 
#last_name_alpha_order = author.sort(lambda last_name: last_name.split())

#print(author.sort)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [270]:
# F = (9/5)*C + 32
#places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]
#converted_temp= list(map(lambda num: (9/5*num) + 32, [32,12,44,29]))
#print(converted_temp)

#new_lst=[]

#for city in places:
    #new_lst.append(city[0])
    #print(new_lst)


#fer_temp= []
#for i in range(len(new_lst)):
 #   fer_temp.append((new_lst[i],converted_temp[i]))

#print(fer_temp)

lst=[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]



def cel_fer(anything):
    ### im making a list of all the temps from the list of tuples converted to f
    celcius_temp= []
    for city, temp in anything:
        celcius_temp.append(temp)
    converted_temp = list(map(lambda num: (9/5*num) + 32, [celcius_temp]))
    
    #### im creating a new list of just the cities from my list of tuples 
    new_lst=[]
    for city in anything:
        new_lst.append(city[0])
                       
    #### im bringing together my list of cities and converted temps to create a list of tuple shown
    #### i created this list so i could get back to this moment
    #fer_temp= []
    #for i in range(len(new_lst)):
    #    fer_temp.append((new_lst[i],converted_temp[i]))

    ####i'm returning my newly created list of tuples to whoever called them out im zipping together two list to return 
        return list(zip(new_lst, converted_temp))

       
    ####im diplaying the return of my cel_fer function when its fed a list of tuples

    print(cel_fer(lst))

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [ ]:
#previous two values added up